body.login {
	margin: auto;
	margin-top: 10%;
	width: 60%;
	border: 3px;
	padding: 10px;
}

#btnMargin, #btnMargin2{
	margin-top: 5%;
}
#loginBox{
	display: block;
	margin:0 auto;
	width:250px;
	text-align: center;
}

#footer {
	margin-top: 40%;
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	text-align: center;
	color: grey;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
}

#Box{
	display: block;
	margin-top:0.5%;
	margin-bottom: 50px;
	text-align: center;
	height: 80px;
	margin-left: 10%;
	margin-right: 10%;
	
}

.error{
	border: 5px;
	border-style: solid;
	background-color: #ff6666;
	border-color: #ff3333;
	text-align: center;
}

.warning{
	border: 5px;
	border-style: solid;
	background-color: #ffff33;
	border-color: #e6e600;
}

.success{
	border: 5px;
	border-style: solid;
	background-color: #84e184;
	border-color: #5bd75b;
}

p.errorBox{
	margin-top: 1%;
}

#code{
	margin-top: 5%;
}

.classy {
	border: none;
	border-color: transparent;
}

input.classy {
	width: 200px;
}

ul.nav{
	font-size: 15px;
	list-style-type: none;
	margin: 10px;
	margin-top:20px;
	width: 250px;
	background-color: #f1f1f1;
	float: left;
	.well;
}

li.nav a{
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

li.nav a:hover{
	background-color: #99e699;
	color: white;
}

.active {
	background-color: #4CAF50;
	color: white;
}

#header{
	margin: auto;
	margin-bottom: 1%;
	width: 95%;
	font-family: "Lucida Console", Monaco, monospace;

}

#content{
	display: block;
	margin: auto;
	margin-top: 3%;
	width: 70%;
}

.locText{
	font-family: "Lucida Console", Monaco, monospace;
}

h2{
	margin:0px;
}

h1{
	margin-bottom: 0px;
}

a:link{
	color: black;
}

a:hover{
	color: #99e699;
}

#controls{
	margin: auto;
	width: 98%;
	font-size: 10px;
	text-align: right;
	display:inline;
	float:left;
}

.disabled{
	color: grey;
	background-color: #cccccc;
}

#container{
	text-align: center;
}


div.inv-box{
	margin: 10px;
	width: 32%;
	margin-left: 0px;
	float:left;
	display: inline;
}

.margins {
	margin: 10px;
}

div.big-box{
	margin: 10px;
	width: 80%;
	margin-left: 0px;
	float:left;
	display: inline;
}

div.mini-box{
	margin: 10px;
	width: 30%;
	margin-left: 0px;
	float:left;
	display: inline;
	text-align: center;
}

h1.mini-box {
	font-size: 2vW;
}

.left{
	align-self: left;
}

.right{
	align-self: 
}

hr
{
	margin: 5px;
}

.clearfix { display: inline-block; }

.padding{
	align: right;
	margin-right: 50px;
}

.inactive{
	color: grey;
}

.highlight {
	color: lime;
}

.admin {
	color: #f99202;
	font-weight: bold;
}

.err {
	color: red;
	font-weight: bold;
}

.log {
	font-size: 12px; 
	font-family: "Lucida Console", Monaco, monospace;
}

.fixed {
	margin-left: 250px;
	margin-right: 250px;
}

.big-text {
	font-size: 70px;
}

.fixed-margin {
	margin-top: 30px;
}